.mensaje{
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    color: #2E186A;
    margin-bottom: 20px;
    text-align: center;
}



.container2{
    padding: 22px;
}

.header-publication{
    background-color:#2A1447 ;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mensaje{
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle-publication {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.title-input{
    font-family: "Raleway", sans-serif;
    color: #63318A ;
    font-weight: 600;
    font-size: 18px;
}

.cuerpo-publicacion{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 6px 8px rgba(164, 164, 219, 0.384);
    padding: 20px;
    margin-top: -24px;     
    padding-top: 35px;  
    position: relative;
}

.form-group{
    margin-bottom: 10px;
    flex: 1;
}
.form-control{
    border:1px solid #bda0d993;
}

.cardPublicationPrevia{
    width: 380px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 6px 8px rgba(164, 164, 219, 0.384);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center; 
}

.form-group:first-child {
    flex: 3; /* Aumenta el tamaño del primer input (Etiquetas) */
}

.form-group:last-child {
    flex: 1; /* Mantén el campo de color más pequeño */
}

.form-Tag{
    width: 60px;
    height: 40px; 
}

.publicar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsIMG{
    width: 100%;
}

.btn-img{
    border-radius:6px;
    color:#8B5DFF;
    background: white;
    border: 2px solid #5E308C;
    padding: 8px 8px;
    margin: 6px;
}

.btn-img:hover{
    background: #5E308C;
    color: white;
}

/*Parte donde se trabaja el estilo de la publicación previa*/
.imgPrevia{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoPrevia{
    max-height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: auto;
}

.col-publication{
    overflow-y: auto;
    border-right: 4px solid #5E308C;
}


  /* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .cardPublicationPrevia{
        width: auto;
    }

    .col-publication{
    overflow-y: auto;
    border-right: none;
    }

    .title-previa{
        margin-top: 20px;
    }
}
